html, body, header, nav, div, section, h1, h2, p, a, ul, li, ol {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0; }

h1 span, .download-link, .icon-download-list a, p, h1, label {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, sans-serif; }

h1 span, .download-link, .icon-download-list a {
  font-weight: 200; }

p {
  font-weight: 400; }

h1, label {
  font-weight: 700; }

body, .title-section, .icon-item, .icon-download-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

main, .download-link-section, .view-controller {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.download-link, .filter-box, .zoom-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

h1, p, a, aside, label {
  text-decoration: none;
  color: #323232; }

h1 {
  color: #323232;
  font-size: 1.3rem; }

label {
  font-size: .85rem; }

.title-section {
  width: 100%;
  background-color: #F6F6F6;
  padding: 2.5rem 0;
  margin-bottom: 2rem; }
  .title-section h1 {
    width: 90%;
    max-width: 800px; }

main {
  width: 90%;
  padding-bottom: 3rem;
  max-width: 800px; }

.download-link-section {
  width: 100%;
  max-width: 800px;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 800px) {
    .download-link-section {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.download-link {
  background-color: #F6F6F6;
  font-size: .87rem;
  width: 100%;
  padding: 1rem 2rem;
  transition: .2s background-color; }
  @media screen and (min-width: 800px) {
    .download-link {
      width: 48.5%; } }
  .download-link:first-child {
    margin-bottom: 1.5rem; }
    @media screen and (min-width: 800px) {
      .download-link:first-child {
        margin-bottom: 0; } }
  .download-link img {
    width: 1.8rem;
    margin-right: 1rem; }

.download-link:hover {
  background-color: #ddd; }

.icons-section {
  width: 100%; }

.view-controller {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: white;
  max-width: 800px; }
  @media screen and (min-width: 600px) {
    .view-controller {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .view-controller .sticky-heading {
    display: none; }
    @media screen and (min-width: 750px) {
      .view-controller .sticky-heading {
        display: none; } }

.flex-spacer {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.view-controller-understudy {
  display: none; }

.filter-box {
  width: 100%;
  border: 2px #ddd solid;
  padding: .5rem .75rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 550px) {
    .filter-box {
      max-width: 300px; } }
  @media screen and (min-width: 600px) {
    .filter-box {
      width: 40%;
      margin-right: 2rem;
      max-width: 250px;
      margin-bottom: 0; } }
  .filter-box img {
    width: 1.5rem; }

.search-box {
  border-style: none;
  height: 2rem;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem; }
  .search-box:focus {
    outline: none; }

.zoom-box {
  width: 100%; }
  @media screen and (min-width: 550px) {
    .zoom-box {
      max-width: 300px; } }
  @media screen and (min-width: 600px) {
    .zoom-box {
      width: 40%;
      max-width: 250px; } }
  .zoom-box label {
    width: 43px; }

.zoom-range {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-appearance: none;
  background-color: #ddd;
  height: .5rem;
  margin-right: .5rem; }
  .zoom-range:focus {
    outline: none; }
  .zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    border: 3px #323232 solid;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    cursor: pointer; }
  .zoom-range::-moz-range-track {
    background: none;
    border: none; }
  .zoom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: white;
    border: 3px #323232 solid; }

.icon-list {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.icon-item {
  background-color: #F6F6F6;
  margin-bottom: 1.25rem;
  padding: 1rem .75rem; }

.icon-item-sample {
  width: 5rem;
  margin-bottom: .5rem; }

.icon-title {
  text-align: center; }

.download-affordance {
  float: left;
  width: 2rem; }

.icon-download-list {
  margin-top: .75rem; }
  .icon-download-list li {
    margin-bottom: .5rem; }
  .icon-download-list a {
    font-size: .8rem; }

.error-page-wrapper {
  padding: 1rem 5%; }
  .error-page-wrapper h1 {
    margin-bottom: .5rem; }
